# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3
*.sqlite3

# Environments
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/

# System Files
Thumbs.db
ehthumbs.db
Desktop.ini
